# Get your tokens from the drchrono.com website under Account->API

SOCIAL_AUTH_CLIENT_ID=7wEcx3Js8LaVB0ZJvGGmF3Z2PffMiIFGnPNuCqDi
SOCIAL_AUTH_SECRET=cGr8lsiRre1Eipm9KqvFRKpAZwZp9Z6eZ9IZARz6Sm3hLTy2VYGEsImYqNClKiqDtYlPllazm1X9DYvPmUxRpML7H9JttRwW9RcSiYEe3mtQnTDHA83GLw5SbXgnsewZ
